<!-- views/looper.pug -->
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title My awesome youtube looper
    body
        h1 Awesome Youtube Looper
        form(action="/loop" method="GET")
            span VideoID:
            input(type="text" name="VideoID")
            br
            input(type="submit" value="submit")
        br
        if VideoID
            iframe(src=`https://www.youtube.com/v/${VideoID}?version=3&loop=1&playlist=${VideoID}&autoplay=1`, frameborder="0" allowfullscreen)
        else
            p Hi~ Please enter your favorite video, I can loop it~